# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# env
.env
.env.local
.env.development
.env.production
.env.test

# hardhat
packages/hardhat/cache
packages/hardhat/artifacts
packages/hardhat/typechain
packages/hardhat/cache

# subgraph
packages/subgraph/abis
packages/subgraph/build
packages/subgraph/generated
packages/subgraph/node_modules
packages/subgraph/src/schema.graphql

# nextjs
packages/nextjs/contracts/deployedContracts.ts
packages/nextjs/.next
